aiofiles
aiogram
aiohttp
aiosend
anyio
attrs
certifi
charset-normalizer
colorama
Deprecated
distro
dotenv
python-dotenv
frozenlist
h11
httpcore
httpx
idna
magic-filter
multidict
netaddr
packaging
propcache
pydantic
pydantic-core
PyYAML
requests
six
sniffio
typing-extensions
urllib3
yarl
zope.interface
